:root {
  --teal: #178287;
  --light-teal: #9CD1D4;
  --peach: #F79C75;
  --light-peach: #F1CEBF;
  --purple: #855279;
  --light-purple: #B575BB;
  --gold: #AC8E4C;
  --yellow: #FFD373;
  --blue: #1B6383;
  --light-blue: #A1C8DA;
  --gray: #828282;

  --sans: 'Barlow Condensed', Tahoma, sans-serif;
  --serif: 'IBM Plex Serif', Georgia, serif;

  --foreground: black;
  --background: white;
  --accent: var(--teal);

  font-family: var(--sans);
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 3fr 300px;
  grid-template-areas: "preview config";
  width: 100vw;
  height: 100vh;
}

.preview {
  grid-area: preview;
  padding: 20px;
  background: radial-gradient(#555, black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview canvas {
  max-width: min(100vw, 600px);
  max-height: 90vh;
  aspect-ratio: 1200 / 628;
  box-shadow: 0 12px 12px black;
}

@media (max-width: 600px) {
  main {
    display: block;
  }

  .preview {
    position: sticky;
    top: 0;
    box-shadow: 0 10px 16px rgba(0, 0, 0, .1);
    z-index: 999;
    padding: 0;
  }

  .preview canvas {
    box-shadow: none;
  }
}

.form {
  grid-area: config;
  padding: 20px;
  overflow-y: auto;
}

.form > *, form * {
  margin: 8px 0;
}

.theme-group .themes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.theme-group input {
  position: absolute;
  left: -10000px;
}

.theme-group label {
  opacity: .5;
  display: block;
}

.theme-group label theme-icon {
  display: block;
}

.theme-group input:checked + label {
  opacity: 1;
  font-weight: bold;
}

.form button {
  border: none;
  color: white;
  font-family: inherit;
  font-size: 24px;
  background: var(--teal);
  padding: 10px 20px;
  display: block;
  margin: 20px auto;
  transition: box-shadow .4s linear;
  box-shadow: 0 4px 16px -8px #0008;
}

.form button:hover, .form button:focus {
  box-shadow: 0 16px 24px -12px #0008;
  outline: 1px solid var(--light-teal);
  cursor: pointer;
}

.info {
  text-align: center;
  background: var(--light-blue);
  padding: 8px;
}

.info a, .info a:visited {
  color: inherit;
}

.warning {
  background: var(--peach);
  padding: 8px;
}

.form .alt-display {
  background: #FFF3;
  margin: 20px 0;
}

