<text-brush
  anchor="top center"
  x=".5" y=".05"
  padding="10 0" size="36"
  noform id="eyebrow"
  value="BREAKING NEWS"
  color="accent" bold
></text-brush>
<image-brush 
  src="./assets/Chalkline-teal-dark.png"
  x=".5" y=".15"
  width="180" recolor="accent"
></image-brush>

<text-brush bold size=48 anchor="middle left" x=".2" width=".6" y=.5 0 value="This is the headline of a breaking news story, which spans multiple lines.">Headline</text-brush>

<logo-brush x=".5" y=".9" color="text"></logo-brush>