<grouped-text-brush dx="20" anchor="middle" y=".4" x=".1">
  <text-brush
    size="60"
    id="quote"
    width=".8"
    padding="20 0"
    quoted
    value="This space intentionally left blank."
    >Quotation</text-brush>

  <image-brush
    recolor="accent"
    src="./assets/Chalkline-teal-dark.png"
    id="line"
    follows="quote"
  ></image-brush>
  
  <text-brush
    id="name"
    size="48"
    padding="12 0 4"
    bold
    follows="line"
    color="textAlt"
    value="Firstname Lastname"
    >Attribution</text-brush>
  
  <text-brush
    id="title"
    follows="name"
    size="36"
    italic
    color="textAlt"
    value="Title/affilation/etc."
    >Title</text-brush>
</grouped-text-brush>

<logo-brush x=".5" y=".9" color="text"></logo-brush>
