<photo-brush id="portrait" height=".6"></photo-brush>
<vertical-spacer padding="20 0" y=".6" height=".4">

  <series-logo id="series" color="accent" x=".5" scale=".4"></series-logo>

  <vertical-stack dx="40" anchor="top">
    <text-brush
      size="60"
      id="quote"
      padding="0 0 20"
      width=".8"
      quoted wordcount
      value="Insert quote text here."
      >Quotation</text-brush>

    <image-brush
      recolor="accent"
      src="./assets/Chalkline-teal-dark.png"
      align="left"
    ></image-brush>

    <text-brush
      id="name"
      size="48"
      padding="12 0 4"
      width=".5"
      bold
      color="textAlt"
      value="Firstname Lastname"
      >Attribution</text-brush>

    <text-brush
      id="title"
      size="36"
      width=".5"
      italic
      color="textAlt"
      value="Title/affilation/etc."
      >Title</text-brush>
  </vertical-stack>

  <logo-brush id="logo" x=".5" color="text" align="top"></logo-brush>

</vertical-spacer>