<vertical-spacer padding="20">

  <series-logo id="series" color="accent" x=".5"></series-logo>

  <vertical-stack dx="20" anchor="top" x=".1">
    <text-brush
      size="60"
      id="quote"
      width=".8"
      padding="0 0 20"
      quoted wordcount
      value="Insert quote text here."
      >Quotation</text-brush>

    <image-brush
      recolor="accent"
      src="./assets/Chalkline-teal-dark.png"
      align="left"
    ></image-brush>
    
    <text-brush
      id="name"
      size="48"
      padding="12 0 4"
      bold
      color="textAlt"
      value="Firstname Lastname"
      >Attribution</text-brush>
    
    <text-brush
      id="title"
      size="36"
      italic
      color="textAlt"
      value="Title/affilation/etc."
      >Title</text-brush>
  </vertical-stack>

  <logo-brush x=".5" align="top" color="text"></logo-brush>

</vertical-spacer>