<photo-brush x=".5" width=".5"></photo-brush>

<grouped-text-brush dx=40 anchor="middle" y=".5" x=".1">
  <text-brush size=48 id="quote" width=".4" padding="20 0" quoted value="This space intentionally left blank.">Quotation</text-brush>
  <image-brush recolor="accent" src="./assets/Chalkline-teal-dark.png" id="line" follows="quote"></image-brush>
  <text-brush id="name" size=30 padding="12 0 4" width=".4" bold follows="line" color="accent" value="Firstname Lastname">Attribution</text-brush>
  <text-brush follows="name" size=28 width=".4" italic color="light" value="Title/affilation/etc.">Title</text-brush>
</grouped-text-brush>

<logo-brush x=".25" y=".9"></logo-brush>