<rectangle-brush fill="0"></rectangle-brush>
<rectangle-brush x=".1" y=".1" width=".8" height=".8" fill="white">
</rectangle-brush>

<grouped-text-brush anchor="middle" y=".5" x=".1">
  <text-brush size=48 id="quote" width=".8" padding="0" value="Quote here">Quotation</text-brush>
  <image-brush src="./assets/Chalkline-teal-dark.png" id="line" follows="quote"></image-brush>
  <text-brush id="attribution" follows="line" color="2" value="Jane Q. Public">Attribution</text-brush>
  <text-brush follows="attribution" color="1" value="Small Medium at Large">Tagline</text-brush>
</grouped-text-brush>

<logo-brush x=".5" y=".8"></logo-brush>